@import "tailwindcss";
@import "./variables.css";

/* Use CSS variables throughout the website */
body {
  --primary: var(--color-primary);
  --secondary: var(--color-secondary);
  --accent: var(--color-accent);
  --highlight: var(--color-highlight);
}
